<h3>Import new list</h3>

<%= form_with url: import_import_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :file, "Upload xlxs file extension", class: 'mt-2 mb-2' %>
    <br>
    <%= form.file_field :file, class: 'form-control-file mt-2 mb-2', required: true %>
    <br>
    <%= form.button 'Import xlxs file', class: 'btn btn-primary' %>
  </div>
<% end %>