

<main>
  <div data-controller="maps" data-action="google-maps-callback@window->maps#initMap">
    <div class="map" data-maps-target="map" style="height: 400px; width: 400px;"></div>
  </div>

</main>